PORT = 8000
MONGODB_URI = mongodb+srv://bawa_shiv:Radhe@1234@cluster0.dufowcz.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET = chai-aur-code
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = chaiaurbackend
REFRESH_TOKEN_EXPIRY = 10d